* {
	margin: 0;
	padding: 0;
}
header , footer{
    background-color: #F4F1ED;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.kmii{
    font-size: 40px;
    margin-right: 50px;
    text-decoration: none;
    color: black;
}
.jakori{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 13px;
}
.jakori1{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 13px;
}
.jakor{
    font-size: 18px;
    text-decoration: none;
    color: black;
}
.audi{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 100px;
}
.audimg{
    width: 600px;
    height: 350px;
}
.audinfo{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.audiname{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 30px;
    margin-bottom: 50px;
}
.audiopis{
    font-size: 20px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}
.blocks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
    flex-wrap: wrap;
}
.block{
    height: 420px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #F4F1ED;
    margin-right: 40px;
    width: 470px;
    margin-top: 20px;
}
.imgblock{
    height: 300px;
    width: 450px;
    margin-left: 10px;
    margin-top: 10px;
}
.blockh{
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}
.blockp{
    font-size: 20px;
    margin-top: 20px ;
}
.blocka{
    font-size: 18px;
    margin-top: 20px;
    text-decoration: none;
    color: black;
}

@media (max-width: 768px ) {
    .audimg{
        width: 450px;
        height: 300px;
    }
    .block{
        height: 300px;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #F4F1ED;
        margin-right: 40px;
        width: 250px;
        margin-top: 20px;
    }
    .imgblock{
    height: 150px;
    width: 230px;
    margin-left: 10px;
    margin-top: 10px;
    }
    .audi{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 50px;
        margin-bottom: 100px;
        margin-left: 50px;
    }
    .audinfo{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }
}
